MONGODB_URI=mongodb+srv://divyapateltot_db_user:5yozcObI2zQyTjIN@custom-point.u5vw2ln.mongodb.net/?appName=custom-point
JWT_SECRET=2182fae8dd4a040e63a977367e41bf260602fc96cde4324206a614fc5fa0ca7c
GEMINI_API_KEY=AIzaSyCLl2YYaGBkbtmrFEATGcLUmryASIA8j2M
PORT=5000
NODE_ENV=development
CLIENT_URL=http://localhost:3000
RENDER_URL=https://your-app-name.onrender.com/api/health
